{% extends 'base.html'%}

{% import 'macros.html' as macro %}

{% block content %}
    
        
    <div  class="container" id="particles-js">   
        <p class="nav-item" >
        <a id ="cats" class="nav-link" data-toggle="tab" href="{{url_for('main.index')}}"><strong>QUOTES</strong> </a>
        </p>
            <div class="card">
              <div class="card-body">
                    <p class="class-text"><i class="fas fa-quote-left"> </i> {{quote.quote}}</p>
                    <p class="class-author"> - {{quote.author}}</p>
                </div>
            </div>

    </div>
    
    
    
               
         
        
{% endblock%}
